/* text fixes */ 
h1, h2, h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1rem;

}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;

}

.spotlight {
    color: #fad50f;
}
/* Container top fixes */
.nav-cta-container {
    margin-top: 20px;
}

.video-container {
    margin-top: 40px
}

.splash-container {
    margin-top: 40px
}