/* text fixes */ 
h1, h2, h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1rem;

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;

}

a {
    color: #1a8286;}

a:hover {
    color: #fad50f;
    font-weight: bold;
    text-decoration: none;}

.spotlight {
    color: #fad50f;
}

/* Button tweaks */ 
.btn-lg {
    padding: 2.5rem 1rem;
    line-height: inherit;
    text-transform: uppercase;
    border-radius: .3rem;
    letter-spacing: 0.1em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
    font-size: 18px !important;
    border-width: 2px !important;
    margin-bottom: 8px;
}

/* Navbar */ 
.menu-wrapper .row-menu .row-menu-inner {
    padding: 0px 36px 0px 36px;
} 

.nav-logo {
    display: block;
    max-width: 80%;
    height: auto;
  }

@media screen and (max-width: 576px){
    .nav-logo{
        content: url(/images/logos/white-logo-fsm-sq-512px.png);
        display: block;
        max-width: 16%;
        height: auto;
    }
}


  /* hero banner */

  .header-wrapper .header-bg-wrapper .header-bg {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
}

/* Container top fixes */
.nav-cta-container {
    margin-top: 20px;
}

.video-container {
    margin-top: 40px
}

.splash-container {
    margin-top: 5px;
}

