/*  Font import so don't have to load in each head */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700');


/* text fixes */
h1, h2, h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1rem;

}

h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.uppercase {
    text-transform: uppercase;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;

}

body.page-signup {
    background: url(..images/sign-up/signup-background.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.general-sub {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

a {
    color: #5f4100;
}

a:hover {
    color: #fad50f;
    font-weight: bold;
    text-decoration: none;
}

.spotlight {
    color: #ffc107;
}

.splash-btn {

    width: fit-content;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Button tweaks */
.btn-lg {
    line-height: inherit;
    text-transform: uppercase;
    border-radius: .3rem;
    letter-spacing: 0.1em;
    font-family: "Lato", sans-serif;
    font-size: 1em !important;
    border-width: 2px !important;
}

/* ------------------------------------------------- Heading */

/* Navbar */

.menu-wrapper .row-menu .row-menu-inner {
    padding: 0px 36px 0px 36px;
}

.nav-logo-full {
    display: block;
    max-width: 80%;
    height: auto;
}

.nav-logo-mobile {
    display: none;
}

@media screen and (max-width: 576px) {
    .nav-logo-full {
        display: none;
    }

    .nav-logo-mobile {
        display: block;
        max-width: 54%;
        height: auto;
    }

}

/* hero banner */

.hero-image {
    max-width: 100%;
    height: auto;
    padding: 80px 0px 0px;
}

.header-bg-wrapper .header-bg {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
}

/* MOVE 
.img-fluid-height {
    max-height: 100%;
    object-fit: contain;
  }
  */
/*-------------------------------------------- Containers */
.container-head {
    text-align: center;
    margin-bottom: 1em;
}

.container-subhead {
    margin-bottom: 1em;
}

/* Gives all containers a bit of space */
.container-spacing {
    padding: 2em;
}

.bullet-list {
    text-align: left;
}

.bullet-list ul {
    list-style-type: circle;
}

.bullet-list li {
    padding-bottom: 0.75em;
}

@media (max-width: 992px) {
    .bullet-list { 
        margin-top: 1em;  
    }
}

@media (max-width: 992px) {
    .bullet-list ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}



.nav-cta-container {
    margin-top: 20px;
}

.video-container {
    margin-top: 40px;
}

.splash-container {
    margin-top: 5px;
}




/*-------------------------------------------- Heaader padding */

/*#quotes-head {
    padding-bottom: 0px;
}

/*-------------------------------------------- Footer */

footer {
    background-color: #343a3f;
    color: #fafafa;
    min-height: 120px;
    margin: 0px;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #ffc107;
}


#footer-details {
    padding: 20px;
    text-align: center; /* doesn't look great at the mo' see if the aligned buttons changes my mind */
}